@model IEnumerable<GalleriaSupermarket.Models.ItemTransfer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <h1>
        Item page
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Item</a></li>
        <li><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        <p>&nbsp;</p>
    }
    else
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    
    <table id="ItemShow" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>Destination</th>
                <th>Manager Approval</th>
                <th>Date</th>
                <th class="nosort">Details</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>      

    </table>
</section>

<div class="detais-box" style="display:none;">
    <i class="fa fa-times fclose" aria-hidden="true"></i>
    <div class="inv-head">
        <h2> Invoice Product Details</h2>
    </div>
    <div class="loading" style="display:none;text-align:center;">
        <img src="~/Assets/ajax-loader.gif" />
    </div>
    <div class="main-row">
        <table id="detailShow" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align:center !important">#</th>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th>Quanity</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<!--Modal-->
<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Payment Complete?
                </div>
            </div>

            <div class="modal-body no-padding">
                <h4>Are sure to handle this <strong style="color:red">Order?</strong></h4>
                <div style="text-align:center; display:none" id="loaderDiv">
                </div>

            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-danger" id="btnReject">No, Thanks</a>
                <a class="btn btn-info" data-id="" id="transApproved">Approved</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#btnReject').click(function () {
                RejectOrder();
            });

            function RejectOrder() {
                $('#modal-table').modal('hide');
            }

            $('#ItemShow').on('click', '.showModal', function () {
                var id = $(this).attr("data-id");
                $('#transApproved').attr('data-id', id);
                ShowforConfirm();
            });

            var ShowforConfirm = function () {
                $('#modal-table').modal('show');
            }

            $('#ItemShow').DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $('.fclose').click(function () {
                $('.detais-box').hide();
            });

            $('#ItemShow').on('click', '.show-details-btn', function () {
                var rowid = $(this).parents('tr').attr('data-id');
                showItemTransferDetails(rowid);
            });

            function showItemTransferDetails(transId) {
                $('.loading').show();
                $.ajax({
                    url: '/ItemTransfer/GetItemTransferDetails',
                    type: 'POST',
                    dataType: 'json',
                    data: { ItemTransId: parseInt(transId) },
                    success: function (res) {
                        var item = JSON.parse(res);
                        $('.detais-box').show();
                        $('#detailShow tbody').empty();

                        setTimeout(function () {
                            $('.loading').hide();
                            var html;
                            $.each(item, function (index, row) {
                                html = '<tr><td align="center"></td><td>' + row.PrName + '</td><td>' + row.ItemSize + '</td><td>' + row.AvailableQnty + '</td></tr>';
                                $('#detailShow tbody').append(html);
                            });
                        }, 1000);

                    }
                });
            }

            $('#transApproved').click(function () {
                var id = parseInt($(this).attr('data-id'));
                UpdateStockManagerApproved(id);
            });
            function UpdateStockManagerApproved(transid) {
                $.ajax({
                    url: '/ItemTransfer/UpdateItemQntyManagerApproval',
                    type: 'POST',
                    data: { transferId: transid },
                    dataType: 'json',
                    success: function (res) {
                        RejectOrder();
                        GetTransferItemList();
                    }
                });
            }


            GetTransferItemList();
            function GetTransferItemList() {
                $.ajax({
                    url: '/ItemTransfer/GetTransferItemInOutlet',
                    type:'GET',
                    dataType: 'json',
                    success: function (res) {
                        $('#ItemShow tbody').empty();
                        var html, adminStatus, managerStatus, classStatus;
                        if (res.length != 0) {
                            $.each(res, function (index, row) {
                                if (row.managerApproval === true) {
                                    managerStatus = 'Approved';
                                    classStatus = 'text-success disabled';
                                }else{
                                    managerStatus = 'Pending';
                                    classStatus = 'text-danger';
                                }

                                var detailsBtn ='<div class="action-buttons"><a href="javascript:void(0)" class="green bigger-140 show-details-btn" title="Show Details"><i class="ace-icon fa fa-th-list"></i></a></div>';

                                html = '<tr data-id="' + row.id + '"><td>' + row.from + '</td><td>' + row.outlet + '</td><td class="' + classStatus + '">@if (HttpContext.Current.User.IsInRole("Admin")) {<span class="' + classStatus + '">' + managerStatus + '</span> } else {<a href="javascript:void(0)" data-id="' + row.id + '" class="btn showModal ' + classStatus + '">' + managerStatus + '</a>}</td><td>' + row.date + '</td><td align="center">' + detailsBtn + '</td></tr>';
                                $('#ItemShow tbody').append(html);
                            });
                        } else {
                            html = '<tr><td align="center" colspan="8">No Data Available</td></tr>';
                            $('#ItemShow tbody').append(html);
                        }
                        
                    }

                });
            };

        });
        
    </script>
}