
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="tnk-box">
        <i class="fa fa-check thank-icon" aria-hidden="true"></i>
        <h1 class="thank-head">Thank You!</h1>
        <p>Your Order is processing to deliver </p>
    </div>
</div>

