@{
    ViewBag.Title = "Confirm Email";
}


<div class="container">
    <div class="confirm-email-box">
        <h2>@ViewBag.Title.</h2>
        <p>
            We've sent a confirmation email to your email Address. Please confirm email first and  @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
    
</div>
